h1, h2 {
  font-family: Lato;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blinking {
  animation: blink 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

body {
  background-color:rgb(0, 0, 0);
}

.name-heading {
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(245, 231, 169);
  border: 5px solid rgb(167, 155, 0);
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
